<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	    
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
                    </li>
                    <li class="active">
                        <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
                    </li>
                    <li>
                        <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                    </li>
                    <li>
                        <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                    <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Compra Libro
                        </h1>
                        <!--  ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Forms
                            </li>
                        </ol-->
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
<!-- ****************************************************************************************************************************+ -->

                    <div class="col-lg-6">
                        <form role="form">
								<h1>Venta</h1>

                            	<div class="form-group">
		                                <label>Datos Libro</label>
		                                <textarea class="form-control" rows="3" id="area" disabled></textarea>
	                            	<br><br>
	                                <label>Datos Cliente</label>
	                                <p class="help-block">Nombre</p>
	                                <input class="form-control" id='nombre' name='nombre'>
	                                <p class="help-block">Número de cuenta</p>
	                                <input class="form-control" id='numCuenta' name='numCuenta' value="10">
	                                <p class="help-block">Importe</p>
	                                <div class="form-group input-group">
		                                <span class="input-group-addon">$</span>
		                                <textarea class="form-control" rows="1" id="importe" disabled></textarea>
		                                <span class="input-group-addon">.00</span>
	                            	</div>
	                            	
	                                <div class="form-group">
		                                <label>Elige Tú Banco</label>
		                                <select class="form-control" id="banco">
		                                    <option value=0>American Express</option>
		                                    <option value=1>Banco Azteca</option>
		                                    
		                                </select>
	                            	</div>
	                                <button type="button" class="btn btn-default" value="Submit" id="compra">Comprar</button>
	                                <button type="button" class="btn btn-default" value="Submit" id="cancelar">Cancelar</button>
                            	</div>
							</form>
						</div>
<!-- ********************************************FIN VENTA********************************************************************************+ -->
						
<!--/******************************************ENVIO********************************************************************************/-->
                    <div class="col-lg-6">
                        <h1>Envio</h1>

                        <form role="form">
							<label>Datos Cliente</label>	
							<p class="help-block">Nombre</p>
							<input class="form-control" id='nombreEnvio' name='nombre' disabled>
							<p class="help-block">Dirección</p>
	                    	<input class="form-control" id='dirEnvio' name='dirEnvio'>
	                    	<p class="help-block">Peso Libro</p>
	                    	<div class="form-group input-group">
		                         <textarea class="form-control" rows="1" id="peso" disabled></textarea>
		                         <span class="input-group-addon">Peso</span>
		                    </div>
	                        
	                        
	                         <div class="form-group">
		                     	<label>Elige Tipo de Envio</label>
		                        <select class="form-control" id="tipoEnvio">
		                        	<option value=0>Nacional</option>
		                            <option value=1>Internacional</option>
		                        </select>
	                         </div>
	                         <button type="button" class="btn btn-default" value="Submit" id="aceptar">Aceptar</button>
	                         <button type="button" class="btn btn-default" value="Submit" id="cancelarEnvio">Cancelar</button>       
                            	
                             <p class="help-block">Número de Flete</p>
	                    	 <input class="form-control" id='flete' name='flete' disabled>
	                 </form>

                    </div>
<!--/********************************************************FIN ENVIO********************************************************************/  -->
                    
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
   
 
 <script>
    var nombre = "";
    var pesoLib;
 	var cadVariables = location.search.substring(1,location.search.length);
	var arrVariables = cadVariables.split("&");
	
 	function datosLibros(arr){
	 	var cad = "";
		for (i=0; i<arrVariables.length-1; i++) {
			arrVariableActual = arrVariables[i].split("=");
			cad += unescape(arrVariableActual[1])+"\n";
			
		}
		$('#area').html(cad);
		
		return arrVariables[2];
 	}
	function precio(val){//separa el precio de el libro
		var arr = val.split("=");
		var aux = unescape(arr[1]);
		var aux1 = aux.split(":");
		var aux2 = aux1[1].split("$");
		$('#importe').html(aux2[1]);
		
	}
	function peso(val){//separa el precio de el libro
		var arr = val.split("=");
		var aux = unescape(arr[1]);
		var aux1 = aux.split(":");
		pesoLib = aux1[1];
		$('#peso').html(pesoLib);
		
	}
	var val = datosLibros(arrVariables);
	precio(val);
	
 </script>
 
 <script>
$('#compra').click(function() {
	
	var banco = $("#banco").val();
	if (banco == "0"){
	     var cuenta = $("#numCuenta").val();
		 var importe = parseInt($("#importe").val());
		 var variableJS="mela pe";
			var txt="";
			var x ="";
			 var xmlhttp = new XMLHttpRequest();
			 xmlhttp.open("POST", "http://localhost/PROYECTO/nuSoap.php",true);
				xmlhttp.setRequestHeader("SOAPAction", "urn:nuSoap#realizaCobro");
				xmlhttp.setRequestHeader("Content-Type", "text/xml");
				var xml =
					 '<?xml version="1.0" encoding="utf-8"?>'+
					 '<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">'+
					   '<soap:Body>'+
					     '<realizaCobroRequest xmlns="http://localhost/PROYECTO/nuSoap.php">'+
					     '<datos>'+
					 	    '<numCuenta>'+cuenta+'</numCuenta>'+
					 	    '<importe>'+importe+'</importe>'+ 
					     '</datos>'+
					     '</realizaCobroRequest>'+
					   '</soap:Body>'+
					 '</soap:Envelope>';
	
	
			xmlhttp.send(xml);
		
			 xmlhttp.onload=function() {
		 		
		 	 	if (xmlhttp.readyState == 4){
		 			x= xmlhttp.responseXML.getElementsByTagName("return");
		 			for (i = 0; i < x.length; i++){
		 				txt += x[i].childNodes[0].nodeValue;
		 			}
		 			variableJS=txt;
		 				//alert(txt);	
		 		 }
		 	}
			 
	}// fin if
	else{
		alert("Temporalmente Sin servicio");
	}
		nombre = $("#nombre").val();
	 $("#nombreEnvio").val(nombre);
		
	 peso(arrVariables[3]);//para escribir el peso en el combobox
});

 </script>
<script>
$('#cancelar').click(function() {
	location.href = "tables.html";
});

$('#cancelarEnvio').click(function() {
	location.href = "tables.html";
});
</script>

<script>
$('#aceptar').click(function() {
			//alert(tipoEnvio);
			alert(nombre);
			alert(pesoLib);
			alert($('#tipoEnvio').val());
			$("#flete").val("1500");
		 /*var variableJS="mela pe";
			var txt="";
			var x ="";
			 var xmlhttp = new XMLHttpRequest();
			 xmlhttp.open("POST", "http://localhost/PROYECTO/nuSoap.php",true);
				xmlhttp.setRequestHeader("SOAPAction", "urn:nuSoap#realizaCobro");
				xmlhttp.setRequestHeader("Content-Type", "text/xml");
				var xml =
					 '<?xml version="1.0" encoding="utf-8"?>'+
					 '<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">'+
					   '<soap:Body>'+
					     '<realizaCobroRequest xmlns="http://localhost/PROYECTO/nuSoap.php">'+
					     '<datos>'+
					 	    '<numCuenta>'+cuenta+'</numCuenta>'+
					 	    '<importe>'+importe+'</importe>'+ 
					     '</datos>'+
					     '</realizaCobroRequest>'+
					   '</soap:Body>'+
					 '</soap:Envelope>';
	
	
			xmlhttp.send(xml);
		
			 xmlhttp.onload=function() {
		 		
		 	 	if (xmlhttp.readyState == 4){
		 			x= xmlhttp.responseXML.getElementsByTagName("return");
		 			for (i = 0; i < x.length; i++){
		 				txt += x[i].childNodes[0].nodeValue;
		 			}
		 			variableJS=txt;
		 				alert(txt);	
		 		 }
		 	}*/
});


</script>
</body>

</html>