<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Venta</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	    
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Inicio</a>
            </div>
            <!-- Top Menu Items -->
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="tables.html"><i class="fa fa-fw fa-table"></i>Catalogo Libros</a>
                    </li>
                    <li>
                        <a href="rastreo.html"><i class="fa fa-fw fa-dashboard"></i>Rastrea tu libro</a>
                    </li>
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Compra Libro
                        </h1>
                        
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
<!-- ********************************************VENTA LIBRO********************************************************************************+ -->

	                    <div class="col-lg-6">
	                    <div id="venta">
	                        <form role="form">
									<h1>Venta</h1>
	
	                            	<div class="form-group">
			                                <label>Datos Libro</label>
			                                <textarea class="form-control" rows="3" id="area" disabled></textarea>
		                            	<br><br>
		                                <label>Datos Cliente</label>
		                                <p class="help-block">Nombre</p>
		                                <input class="form-control" id='nombre' name='nombre' value="Ruben Fernando">
		                                <p class="help-block">Número de cuenta</p>
		                                <input class="form-control" id='numCuenta' name='numCuenta' value="10" >
		                                <p class="help-block">Importe</p>
		                                <div class="form-group input-group">
			                                <span class="input-group-addon">$</span>
			                                <textarea class="form-control" rows="1" id="importe" disabled></textarea>
			                                
		                            	</div>
		                            	
		                                <div class="form-group">
			                                <label>Elige Tú Banco</label>
			                                <select class="form-control" id="banco">
			                                    <option value=0>American Express</option>
			                                    <option value=1>Banco Azteca</option>
			                                    
			                                </select>
		                            	</div>
		                                <button type="button" class="btn btn-default" value="Submit" id="compra">Comprar</button>
		                                <button type="button" class="btn btn-default" value="Submit" id="cancelar">Cancelar</button>
	                            	</div>
								</form>
							</div>
								<div id="numFlete" hidden>
									<p class="help-block">Número de Flete</p>
			                   		<input class="form-control" id='areaflete' name='flete' disabled>
			                   		<br><br>
			                   		<button type="button" class="btn btn-default" value="Submit" id="aceptar1">Aceptar</button>
			                	</div>
			                	<div id="datosHosting" hidden>
			                		<label>Datos Hosting</label>
			                        <p class="help-block">Usuario</p> 
			                        <textarea class="form-control" rows="1" id="usuariohosting" disabled></textarea>
			                         <p class="help-block">Contraseña</p>
			                         <textarea class="form-control" rows="1" id="contrahosting" disabled></textarea>
			                         <br><br>
			                         <button type="button" class="btn btn-default" value="Submit" id="aceptar2">Aceptar</button>
			                	</div>
							</div>
<!-- ********************************************FIN VENTA********************************************************************************+ -->
						
<!--/******************************************ENVIO********************************************************************************/-->
                    <div class="col-lg-6">
                       	<div id="flete" hidden>
	                        <h1>Flete</h1>
		
	                        <form role="form">
								<label>Datos Cliente</label>	
								<p class="help-block">Nombre</p>
								<input class="form-control" id='nombreEnvio' name='nombre' disabled>
								<p class="help-block">Dirección</p>
		                    	<input class="form-control" id='dirEnvio' name='dirEnvio'>
		                    	<p class="help-block">Número de Cuenta</p>
		                    	<input class="form-control" id='numCuentaEnvio' name='dirEnvio' disabled>
		                    	<br><br>
		                         <button type="button" class="btn btn-default" value="Submit" id="aceptarFlete">Aceptar</button>
		                         <button type="button" class="btn btn-default" value="Submit" id="cancelarEnvio">Cancelar</button>       
	                            	
	                             
		                 </form>
						</div>
						
                    </div>
<!--/********************************************************FIN ENVIO********************************************************************/  -->
 <!--/******************************************HOSTING********************************************************************************/-->
                    <div class="col-lg-6">
                       	<div id="hosting" hidden>
	                        <h1>Hosting</h1>
		
	                        <form role="form">
								<label>Datos Cliente</label>	
								<p class="help-block">Nombre</p>
								<input class="form-control" id='nombreHost' name='nombreHost' disabled>
								
								<p class="help-block">Id Pago</p>
								<input class="form-control" id='pagoHost' name='correoHost' value="1000">
								
								<p class="help-block">Peso Libro</p>
								<div class="form-group input-group">
			                         <textarea class="form-control" rows="1" id="pesoHost" disabled></textarea>
			                         <span class="input-group-addon">Mb</span>
			                    </div>
								
		                         <button type="button" class="btn btn-default" value="Submit" id="aceptarhosting">Aceptar</button>
		                         <button type="button" class="btn btn-default" value="Submit" id="cancelarHosting">Cancelar</button>       
	                            
	                            <div class="form-group input-group">
		                    	 <br><br>
		                    	 
			                    </div>
		                 </form>
						</div>
                    </div>
<!--/********************************************************FIN HOSTING********************************************************************/  -->
                     
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
   
 
 <script>
    var nombre = "";
    var pesoLib;
    var tipoLib;
 	var cadVariables = location.search.substring(1,location.search.length);
	var arrVariables = cadVariables.split("&");
	
 	function datosLibros(arr){//separa datos libro
	 	var cad = "";
		for (i=0; i<arrVariables.length-2; i++) {
			arrVariableActual = arrVariables[i].split("=");
			cad += unescape(arrVariableActual[1])+"\n";
			
		}
		$('#area').html(cad);
		
		return arrVariables[2];
 	}
	function precio(val){//separa el precio de el libro
		var arr = val.split("=");
		var aux = unescape(arr[1]);
		var aux1 = aux.split(":");
		var aux2 = aux1[1].split("$");
		$('#importe').html(aux2[1]);
		
	}
	function getDato(val){//separa el precio y tipo de libro de el libro
		var arr = val.split("=");
		var aux = unescape(arr[1]);
		var aux1 = aux.split(":");
		return aux1[1];
		
		
	}
	/*function tipoLibro(val){//separa el precio de el libro
		var arr = val.split("=");
		var aux = unescape(arr[1]);
		var aux1 = aux.split(":");
		var tipo = aux1[1];
		return tipo;
		
		
	}*/
	var val = datosLibros(arrVariables);
	precio(val);
	
 </script>
 
 <script>
 /*********************************BOTONNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN COMPRAR*****************************************/
$('#compra').click(function() {
	
	var banco = $("#banco").val();
	if (banco == "0"){
	     var cuenta = $("#numCuenta").val();
		 var importe = parseInt($("#importe").val());
		 var variableJS="mela pe";
			var txt="";
			var x ="";
			 var xmlhttp = new XMLHttpRequest();
			 xmlhttp.open("POST", "http://localhost/PROYECTO/Banco/nuSoap.php",true);
				xmlhttp.setRequestHeader("SOAPAction", "urn:nuSoap#realizaCobro");
				xmlhttp.setRequestHeader("Content-Type", "text/xml");
				var xml =
					 '<?xml version="1.0" encoding="utf-8"?>'+
					 '<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">'+
					   '<soap:Body>'+
					     '<realizaCobroRequest xmlns="http://localhost/PROYECTO/Banco/nuSoap.php">'+
					     '<datos>'+
					 	    '<numCuenta>'+cuenta+'</numCuenta>'+
					 	    '<importe>'+importe+'</importe>'+ 
					     '</datos>'+
					     '</realizaCobroRequest>'+
					   '</soap:Body>'+
					 '</soap:Envelope>';
			xmlhttp.send(xml);
		
			 xmlhttp.onload=function() {
		 		
		 	 	if (xmlhttp.readyState == 4){
		 			x= xmlhttp.responseXML.getElementsByTagName("return");
		 			for (i = 0; i < x.length; i++){
		 				txt += x[i].childNodes[0].nodeValue;
		 			}
		 			variableJS=txt;
		 			//alert(txt);
		 			muestra(variableJS);
		 		 }
		 	}
			 //alert("valor" + variableJS);		 
	}// fin if
	else{
		alert("Temporalmente Sin servicio");
	}
	/*DATOS PARA FLETE */
	nombre = $("#nombre").val();
	 $("#nombreEnvio").val(nombre);
	/*DATOS PARA HOSTING*/ 
	 $("#nombreHost").val(nombre);
	/*******************************************************/
	
	
	$("#numCuentaEnvio").val($("#numCuenta").val());
	
	 pesoLib = getDato(arrVariables[3]);//para escribir el peso en el combobox
	 $('#peso').html(pesoLib);
	 $('#pesoHost').html(pesoLib);
	 /***********************VALIDA QUE DIV MOSTRAR DEPENDIENDO DEL TIPO DE LIBRO*********************************/
	 
	 
	 tipoLib = getDato(arrVariables[4]);
	 
	 function trim (cad){//elimina espacios al inicio y al final de lacadena
	 	 return cad.replace(/^\s+/g,'').replace(/\s+$/g,'');
	 }


	 function muestra(exito){
		 var exit = parseInt(exito);
		 if (trim(tipoLib)=='D' && exit == 1 ){
			 alert("Cobro Exitoso");
		 	$('#hosting').show();
		 }else if (trim(tipoLib)=='I' && exit == 1){
			 alert("Cobro Exitoso");
			 $('#flete').show();
		 }else if (exit==0){
		 	 alert("No te alcanza el Dinero");
		 }else {
			 alert("No existe el usuario");
		 }
	 }
	 /***********************************************************************************************/
		 
	 
});
/********************************* FIN BOTONNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN COMPRAR*****************************************/

</script>


<script>
$('#cancelar').click(function() {
	location.href = "tables.html";
});

$('#cancelarEnvio').click(function() {
	location.href = "tables.html";
});

$('#cancelarHosting').click(function() {
	location.href = "tables.html";
});


$('#aceptar1').click(function() {
	location.href = "index.html";
});

$('#aceptar2').click(function() {
	location.href = "index.html";
});
</script>


<script>
/******************************************ACEPTAR FLETE ******************************************************************************/
$('#aceptarFlete').click(function() {
			
			var dir = $('#dirEnvio').val();
			var nombre = $('#nombreEnvio').val();
			var numCuenta = $('#numCuentaEnvio').val();
			var variableJS="mela pe";
			var txt="";
			var x ="";
			 var xmlhttp = new XMLHttpRequest();
			 xmlhttp.open("POST", "http://localhost/PROYECTO/Central/conexionServicios.php",true);
				xmlhttp.setRequestHeader("SOAPAction", "urn:servidor#gestionarFlete");
				xmlhttp.setRequestHeader("Content-Type", "text/xml");
				var xml =
					 '<?xml version="1.0" encoding="utf-8"?>'+
					 '<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">'+
					   '<soap:Body>'+
					     '<gestionarFleteRequest xmlns="http://localhost/PROYECTO/Central/conexionServicios.php">'+
					     '<datosPago>'+
					 	    '<nombreCliente>'+nombre+'</nombreCliente>'+
					 	    '<direccion>'+dir+'</direccion>'+
					 	   	'<numCuenta>'+numCuenta+'</numCuenta>'+
					 	    '<importe>'+500+'</importe>'+
					     '</datosPago>'+
					     '</gestionarFleteRequest>'+
					   '</soap:Body>'+
					 '</soap:Envelope>';
	
	
			xmlhttp.send(xml);
		
			 xmlhttp.onload=function() {
		 		
		 	 	if (xmlhttp.readyState == 4){
		 			x= xmlhttp.responseXML.getElementsByTagName("return");
		 			for (i = 0; i < x.length; i++){
		 				txt += x[i].childNodes[0].nodeValue;
		 			}
		 			    //alert("defsd  "+ txt);
		 				$('#areaflete').val(txt);
		 		 }
		 	}
			 
			 /**************************PARA APARECER Y DESAPARECER LOS FORMULARIOS******************************/
			 $('#venta').hide();
			 $('#flete').hide();
			 $('#numFlete').show();
			 /***************************************************************************************************/
});


</script>
<script>
/******************************************ME CONECTO AL HOSTING**************************************************+*/
$('#aceptarhosting').click(function() {
	var nombre = $('#nombreHost').val();
	var pago = $('#pagoHost').val();
	var peso = parseInt($('#pesoHost').val());
	var variableJS="mela pe";
	var txt="";
	var x ="";
	 var xmlhttp = new XMLHttpRequest();
	 xmlhttp.open("POST", "http://localhost/PROYECTO/Central/conexionServicios.php",true);
		xmlhttp.setRequestHeader("SOAPAction", "urn:servidor#contratarHosting");
		xmlhttp.setRequestHeader("Content-Type", "text/xml");
		var xml =
			 '<?xml version="1.0" encoding="utf-8"?>'+
			 '<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">'+
			   '<soap:Body>'+
			     '<contratarHostingRequest xmlns="http://localhost/PROYECTO/Central/conexionServicios.php">'+
			     '<datosContratar>'+
			 	    '<id_pago>'+pago+'</id_pago>'+
			 	    '<usuario>'+nombre+'</usuario>'+
			 	   	'<tam>'+peso+'</tam>'+
			 	 '</datosContratar>'+
			     '</contratarHostingRequest>'+
			   '</soap:Body>'+
			 '</soap:Envelope>';
		xmlhttp.send(xml);
		
					 xmlhttp.onload=function() {
		 		
		 	 	if (xmlhttp.readyState == 4){
		 			x= xmlhttp.responseXML.getElementsByTagName("return");
		 				var usuario = x[0].firstChild.textContent;
		 				var contra = x[0].lastChild.textContent;
		 				$('#usuariohosting').val(usuario);
		 				$('#contrahosting').val(contra);
		 		}
		 	}
/**************************PARA APARECER Y DESAPARECER LOS FORMULARIOS******************************/		 
			$('#venta').hide();	
			$('#hosting').hide();
			$('#datosHosting').show();
/***************************************************************************************************/
});
/******************************************FIN HOSTING***************************************************/

</script>
</body>

</html>