<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rastreo</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	    
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Inicio</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="tables.html"><i class="fa fa-fw fa-table"></i>Inventario Libros</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Rastreo
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">
<!-- ****************************************************************************************************************************+ -->
                        <form role="form">


                            	<div class="form-group">
	                                <div class="form-group">
		                                <input class="form-control" id='flete' name='flete'>
		                                <p class="help-block">Ingresa tu número de flete </p>
	                                </div>
                            	
	                            	<button type="button" class="btn btn-default" value="rastreo" id="rastreo">Rastrear</button>
	                            	<button type="button" class="btn btn-default" value="Submit" id="cancelar">Cancelar</button>
	                                <br><br>
	                                <div class="form-group">
	                                	<label>Ubicación</label>
	                                	<textarea class="form-control" rows="2" id ="rasteroText"disabled></textarea>
	                                	
	                            	</div>
	                            	<p class="help-block">Esta es la Ubicación actual del dron que lleva tú libro </p>
                                
                                
                  				</div>
<!-- ****************************************************************************************************************************+ -->
					</div>
            	</div>
            </div>
           
        </div>
        
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
   
 
 <script>
$('#rastreo').click(function() {
	
	$('#rasteroText').val('Ya mero llega');
	 /*var cuenta = $("#numCuenta").val();
	 var importe = parseInt($("#importe").val());
	 var variableJS="mela pe";
		var txt="";
		var x ="";
		 var xmlhttp = new XMLHttpRequest();
		 xmlhttp.open("POST", "http://localhost/PROYECTO/nuSoap.php",true);
			xmlhttp.setRequestHeader("SOAPAction", "urn:nuSoap#realizaCobro");
			xmlhttp.setRequestHeader("Content-Type", "text/xml");
			var xml =
				 '<?xml version="1.0" encoding="utf-8"?>'+
				 '<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">'+
				   '<soap:Body>'+
				     '<realizaCobroRequest xmlns="http://localhost/PROYECTO/nuSoap.php">'+
				     '<datos>'+
				 	    '<numCuenta>'+cuenta+'</numCuenta>'+
				 	    '<importe>'+importe+'</importe>'+ 
				     '</datos>'+
				     '</realizaCobroRequest>'+
				   '</soap:Body>'+
				 '</soap:Envelope>';


		xmlhttp.send(xml);
	
		 xmlhttp.onload=function() {
	 		
	 	 	if (xmlhttp.readyState == 4){
	 			x= xmlhttp.responseXML.getElementsByTagName("return");
	 			for (i = 0; i < x.length; i++){
	 				txt += x[i].childNodes[0].nodeValue;
	 			}
	 			variableJS=txt;
	 				alert(txt);	
	 		 }
	 	}*/
});

</script>
 
<script>
$('#cancelar').click(function() {
	location.href = "index.html";
});
</script>
 
	
</body>

</html>