<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="./js/jsonQ-master/jsonQ.min.js"></script>
	
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li class="active">
                        <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
                    </li>
                    <li>
                        <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                    </li>
                    <li>
                        <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                    <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           Librería de Libros :-)
                        </h1>
                        <ol class="breadcrumb">
                            <!-- li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> HOl
                            </li-->
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
<!-- ***********************************************************************************************************+++++++++ -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Inventario</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="myTabla">
                                <thead id="mythead">
                                </thead>
                            </table>
                            
                        
                        </div>
                        <button type="submit" class="btn btn-default" value="compra" id="compra">Comprar</button>
                    </div>

<!-- ***********************************************************************************************************+++++++++ -->                    
			</div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Tablas JavaScript -->
<script src="http://localhost/libreria/Presentacion/aspecto/bootstrap/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="http://localhost/libreria/Presentacion/aspecto/bootstrap/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script src="http://localhost/libreria/Presentacion/aspecto/bootstrap/bower_components/datatables-responsive/js/dataTables.responsive.js"></script>

<script>
var variableJS="mela pe";
var txt="";
var x ="";
	
var xmlhttp = new XMLHttpRequest();
/*xmlhttp.open("POST", "http://localhost/PROYECTO/nuSoap.php",true);
xmlhttp.setRequestHeader("SOAPAction", "urn:nuSoap#realizaCobro");*/
xmlhttp.open("POST", "http://localhost/PROYECTO/servidor.php",true);
xmlhttp.setRequestHeader("SOAPAction", "urn:miServidor#obtenerDatos");

xmlhttp.setRequestHeader("Content-Type", "text/xml");

/*var xml =
'<?xml version="1.0" encoding="utf-8"?>'+
'<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">'+
  '<soap:Body>'+
    '<realizaCobroRequest xmlns="http://localhost/PROYECTO/nuSoap.php">'+
    '<datos>'+
	    '<numCuenta>10</numCuenta>'+
	    '<importe>50</importe>'+ 
    '</datos>'+
    '</realizaCobroRequest>'+
  '</soap:Body>'+
'</soap:Envelope>';*/

var xml ='<?xml version="1.0" encoding="utf-8"?>'+
'<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">'+
  '<soap:Body>'+
    '<getAllBookRequest xmlns="http://localhost/PROYECTO/servidor.php">'+
    '<key>0</key>'+
    '</getAllBookRequest>'+
  '</soap:Body>'+
'</soap:Envelope>';

xmlhttp.send(xml);

	 xmlhttp.onreadystatechange=function() {
	 	
		if (xmlhttp.readyState == 4){
			x= xmlhttp.responseXML.getElementsByTagName("return");
			for (i = 0; i < x.length; i++){
				txt += x[i].childNodes[0].nodeValue;
			}
			variableJS=txt;
			///alert(txt);		
		 }
		 
	};
		
		alert('hola');
		//alert(variableJS);
		//alert("<td class='sorting_1'>1</td><td>Morrison Toni</td><td>0180</td><td>A Deepness in the Sky</td><td>TB</td><td>7.19</td><td>I</td><td>14.3</td><td>1.1</td><td></td>");
		/*var cad = "<td class='sorting_1'>1</td><td>Morrison Toni</td><td>0180</td><td>A Deepness in the Sky</td><td>TB</td><td>7.19</td><td>I</td><td>14.3</td><td>1.1</td><td></td>";
		
		function limpia (cad){
			var aux= cad.substring(22);
			var tam = aux.length;
			cad = aux.slice(0,tam-5);
			return  cad.split("</td><td>");
			//alert(typeof(res));
		}
		
		var res = limpia(cad);
		
		function creaJson(cad){
			alert(cad);
			var keys = ['isbn','autor','codigo','titulo','resumen','costo','tipo','pvp','peso','inventario'];
			var json = "{";
			for(i=0;i<keys.length;i++){
				var aux ='"'+keys[i]+'"';
				json += aux.concat(":''"+cad[i]+"'',");
			}
			return json.slice(0,(json.length)-1)+"}";
		}
		
		var js = creaJson(res);
		//js = JSON.parse(js);
		alert(js);*/
		
</script>

<script type="text/javascript" >
  	
	//var variableJS = @datos@;
	//Builds the HTML Table out of myList.
	$(document).ready(function(){
	alert(variableJS);
 	var myList = JSON.parse(variableJS);
	var selector = '#myTabla';
    var columns = addAllColumnHeaders(myList, selector);
    for (var i = 0 ; i < myList.length ; i++) 
    {
        var row$ = $('<tr id="mifila"/>');
        for(var colIndex = 0 ; colIndex < columns.length ; colIndex++) 
        {
            var cellValue = myList[i][columns[colIndex]];
            if (cellValue == null) { cellValue = ""; }
            row$.append($('<td/>').html(cellValue));
        }
        $(selector).append(row$);
    }
	// Adds a header row to the table and returns the set of columns.
	// Need to do union of keys from all records as some records may not contain
	// all records
	function addAllColumnHeaders(myList, selector)//arriba titulos
	{
	    var columnSet = [];
	    var headerTr$ = $('<tr/>');
	    for (var i = 0 ; i < myList.length ; i++) {
	        var rowHash = myList[i];
	        for (var key in rowHash) {
	            if ($.inArray(key, columnSet) == -1){
	                columnSet.push(key);
	                headerTr$.append($('<th/>').html(key));
	            }
	        }
	    }
	    $('#mythead').append(headerTr$);
	    return columnSet;
	} 

	$('#dataTables-example').DataTable({
                responsive: true
        });
	});

	/*
		 {"name" : "abc", "age" : 50, "hobby" : "swimming"},
		 {"name" : "yrt","age" : "25", "hobby" : "swimming"},
		 {"name" : "xyz", "age" : "25","hobby" : "nothing"}
 * */
</script>

<script>
    function limpia (cad){
        var test = cad.slice(0,3);
        if(test!='<th'){
            var aux= cad.substring(4);
            var tam = aux.length;
            cad = aux.slice(0,tam-5);
            return  cad.split("</td><td>");
            //alert(typeof(res));
        }else return null;
    }
        function creaJson(cad){
            var keys = ['isbn','autor','codigo','titulo','resumen','costo','tipo','pvp','peso','inventario'];
            var json = "{";
            for(i=0;i<keys.length;i++){
                var aux ='"'+keys[i]+'"';
                json += aux.concat(':"'+cad[i]+'",');
            }
            return json.slice(0,(json.length)-1)+"}";
        }
        //js = JSON.parse(js);
</script>
<script type="text/javascript">
        //<![CDATA[
        function valor_celda(celda){
            //alert(celda.innerHTML);
            var res = limpia(celda.innerHTML);
            
            if(res != null){
                var js = creaJson(res);
                var obj = JSON.parse(js);
                
                var lib = jsonQ(obj);
                //
                
                $("#compra").click(function(){ //para saber cuando se apriete el boto de compra manda el mensaje de confirmación  
                	confirm("TITULO: "+lib.find('titulo').value()+"\n\n"+"AUTOR: "+lib.find('autor').value()+"\n\n"+
                        	"PRECIO: $"+lib.find('costo').value()+"\n\n");
                	//"window.alert('chupas'+window.confirm('quierescomprar'))";
                	 //(var valor = window.prompt('titulo','mensaje');
                });
               
            }
        }
        function takeMyRowAway(){
            var tags_td = new Array();
            var tags_id = new Array();
            var tags_td=document.getElementsByTagName('tr');
            for (i=0; i<tags_td.length; i++) {
                if (tags_td[i].addEventListener) {   // IE9 y el resto
                    tags_td[i].addEventListener ("click", function () {valor_celda(this);}, false);
                } 
                else {
                    if (tags_td[i].attachEvent) {    // IE9 -
                        tags_td[i].attachEvent ('onclick',  function () {valor_celda(this);}, false);
                    }
                }
            }
        }
        window.onload = function()
        {
            takeMyRowAway();
            /*$(".odd").dblclick(function(){    
                takeMyRowAway();
            });
            $(".even").dblclick(function(){ 
                takeMyRowAway();
            });*/
        };
        //]]>
</script>
</body>

</html>
