<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inventario</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<script src="./js/jsonQ-master/jsonQ.min.js"></script>
	
	<script>
	
	function valor_celda(celda){
        //alert(celda.innerHTML);
        var res = limpia(celda.innerHTML);
        
        if(res != null){
        	/*sirve para crear un json con los datos del libro elegido */
            var js = creaJson(res);
            var obj = JSON.parse(js);
          	var lib = jsonQ(obj);
          	
          	var ext = lib.find('existencias').value();
            var tipo = lib.find('tipo').value();
            
          	if (ext != 0 || tipo == 'D'){
	          	/*Si da confirmar la compra se van a mandar los datos de la pagina table.html a venta.html*/
          		var cadena = "DESEA COMPRAR ESTE LIBRO \n\n"+"TITULO: "+lib.find('titulo').value()+"\n\n"+"AUTOR: "+lib.find('autor').value()+"\n\n"+
            	"PRECIO: $"+lib.find('costo').value()+"\n\n";
              	
          		var x = confirm(cadena);
	        	if(x == true){
	        		var nombres = "Titulo: "+lib.find('titulo').value()+","+"Autor: "+lib.find('autor').value()+","+
	            	"Precio: $"+lib.find('costo').value()+","+"Peso: "+lib.find('peso').value()+","+"Tipo: "+lib.find('tipo').value()+"\n\n";
	        		var pagina = "http://localhost/WORKECLIPSEXML/xml2/ProyectoAurora/Template/forms.html";
	        		pasarVariables(pagina, nombres);
	        	}
          		
          	}else{
          		var bandera = confirm("NO TENEMOS ESE LIBRO" +"\n"+"Quieres buscar el libro en otra Libreria");
          		if(bandera == true){
	        		var nombres = "Titulo: "+lib.find('titulo').value()+"\n\n";
	        		var pagina = "http://localhost/WORKECLIPSEXML/xml2/ProyectoAurora/Template/busqueda.html";
	        		pasarVariables(pagina, nombres);
          		}
          	}
        }
    }
	function takeMyRowAway(){
        var tags_td = new Array();
        var tags_id = new Array();
        var tags_td=document.getElementsByTagName('tr');
        for (i=0; i<tags_td.length; i++) {
            if (tags_td[i].addEventListener) {   // IE9 y el resto
                tags_td[i].addEventListener ("click", function () {valor_celda(this);}, false);
            } 
            else {
                if (tags_td[i].attachEvent) {    // IE9 -
                    tags_td[i].attachEvent ('onclick',  function () {valor_celda(this);}, false);
                }
            }
        }
    }
    window.onload = function()
    {
        takeMyRowAway();
        
    };
	</script>
	
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Inicio</a>
            </div>
            
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           Librería de Libros :-)
                        </h1>
                        
                    </div>
                </div>
                <!-- /.row -->
<!-- ***********************************************************************************************************+++++++++ -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Inventario</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="myTabla">
                                <thead id="mythead">
                                </thead>
                            </table>
                            
                        
                        </div>
                       
                    </div>

<!-- ***********************************************************************************************************+++++++++ -->                    
			</div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Tablas JavaScript -->
<script src="http://localhost/libreria/Presentacion/aspecto/bootstrap/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="http://localhost/libreria/Presentacion/aspecto/bootstrap/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script src="http://localhost/libreria/Presentacion/aspecto/bootstrap/bower_components/datatables-responsive/js/dataTables.responsive.js"></script>

<script >
var variableJS;
//$(document).ready(function(){
	   
    
    // show that something is loading
    $('#response').html("<br><b>Loading grafica...</b>");
    
    $.ajax({
        type: 'POST',
        url: './ConexionBD/Conexion.php', 
        data: $(this).serialize()
    })
    .done(function(data){
    	variableJS = data;
	})

  .fail(function() {
     
        // just in case posting your form failed
        alert( "Posting failed." );
         
    });

//});

		
 alert('Loading Libros'+"\n"+'Dale click en Aceptar');
				
</script>

<script type="text/javascript" >
  	
	//Builds the HTML Table out of myList.
	$(document).ready(function(){
		//alert(variableJS);
	 	var myList = JSON.parse(variableJS);
		var selector = '#myTabla';
	    var columns = addAllColumnHeaders(myList, selector);
	    for (var i = 0 ; i < myList.length ; i++) 
	    {
	        var row$ = $('<tr id="mifila"/>');
	        for(var colIndex = 0 ; colIndex < columns.length ; colIndex++) 
	        {
	            var cellValue = myList[i][columns[colIndex]];
	            if (cellValue == null) { cellValue = ""; }
	            row$.append($('<td/>').html(cellValue));
	        }
	        $(selector).append(row$);
	    }
		// Adds a header row to the table and returns the set of columns.
		// Need to do union of keys from all records as some records may not contain
		// all records
		function addAllColumnHeaders(myList, selector)//arriba titulos
		{
		    var columnSet = [];
		    var headerTr$ = $('<tr/>');
		    for (var i = 0 ; i < myList.length ; i++) {
		        var rowHash = myList[i];
		        for (var key in rowHash) {
		            if ($.inArray(key, columnSet) == -1){
		                columnSet.push(key);
		                headerTr$.append($('<th/>').html(key));
		            }
		        }
		    }
		    $('#mythead').append(headerTr$);
		    return columnSet;
		} 
	
		/*$('#dataTables-example').DataTable({
	                responsive: true
	        });*/
});
</script>

<script>
    function limpia (cad){
        var test = cad.slice(0,3);
        if(test!='<th'){
            var aux= cad.substring(4);
            var tam = aux.length;
            cad = aux.slice(0,tam-5);
            return  cad.split("</td><td>");
            //alert(typeof(res));
        }else return null;
    }
    function creaJson(cad){
            var keys = ['titulo','autor','costo','existencias','peso','tipo'];
            var json = "{";
            for(i=0;i<keys.length;i++){
                var aux ='"'+keys[i]+'"';
                json += aux.concat(':"'+cad[i]+'",');
            }
            return json.slice(0,(json.length)-1)+"}";
    }
        //js = JSON.parse(js);
</script>
<script type="text/javascript">
        //<![CDATA[
        
/***************************PASAR VALORES DE UNA PÁGINA A OTRA por la url ************************************************************/
        
        function pasarVariables(pagina, nombres) {
        	  pagina +="?";
        	  nomVec = nombres.split(",");
        	  for (i=0; i<nomVec.length; i++)
        	      pagina += "var"+i+"=" + escape(nomVec[i])+"&";
        	  pagina = pagina.substring(0,pagina.length-1);
        	  location.href=pagina;
        	}
        
/************************************************************************************************************************/
        
        
</script>
</body>

</html>