
<!-- Tablas JavaScript -->
<script src="http://localhost/libreria/Presentacion/aspecto/bootstrap/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="http://localhost/libreria/Presentacion/aspecto/bootstrap/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script src="http://localhost/libreria/Presentacion/aspecto/bootstrap/bower_components/datatables-responsive/js/dataTables.responsive.js"></script>

<script type="text/javascript" >
  	 var variableJS;
	var txt="";
	var x ="";

	//var variableJS = @datos@;
	//Builds the HTML Table out of myList.
	$(document).ready(function(){
	var xmlhttp = new XMLHttpRequest();
	xmlhttp.open("POST", "http://localhost/PROYECTO/nuSoap.php",true);
	xmlhttp.setRequestHeader("SOAPAction", "urn:miServidor#obtenerDatos");
	xmlhttp.setRequestHeader("Content-Type", "text/xml");
	var xml =
	'<?xml version="1.0" encoding="utf-8"?>'+
	'<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">'+
	  '<soap:Body>'+
	    '<realizaCobroRequest xmlns="http://localhost/PROYECTO/nuSoap.php">'+
	    '<datos>'+
		    '<numCuenta>10</numCuenta>'+
		    '<importe>500</importe>'+ 
	    '</datos>'+
	    '</realizaCobroRequest>'+
	  '</soap:Body>'+
	'</soap:Envelope>';
	xmlhttp.send(xml);
	
	xmlhttp.onreadystatechange=funcioncita();
	
	function funcioncita() 
	{
	 	if (xmlhttp.readyState == 4)
	  	{
			x= xmlhttp.responseXML.getElementsByTagName("return");
			for (i = 0; i < x.length; i++) 
			{
			  txt += x[i].childNodes[0].nodeValue;
			}
			alert (txt);
	  	}
	  	return 'prror';
 	}
	alert (funcioncita());
	var myList = [JSON.parse(funcioncita())];
	var selector = '#dataTables-example';
    var columns = addAllColumnHeaders(myList, selector);
    for (var i = 0 ; i < myList.length ; i++) 
    {
        var row$ = $('<tr id="mifila"/>');
        for(var colIndex = 0 ; colIndex < columns.length ; colIndex++) 
        {
            var cellValue = myList[i][columns[colIndex]];
            if (cellValue == null) { cellValue = ""; }
            row$.append($('<td/>').html(cellValue));
        }
        $(selector).append(row$);
    }
	// Adds a header row to the table and returns the set of columns.
	// Need to do union of keys from all records as some records may not contain
	// all records
	function addAllColumnHeaders(myList, selector)//arriba titulos
	{
	    var columnSet = [];
	    var headerTr$ = $('<tr/>');
	    for (var i = 0 ; i < myList.length ; i++) {
	        var rowHash = myList[i];
	        for (var key in rowHash) {
	            if ($.inArray(key, columnSet) == -1){
	                columnSet.push(key);
	                headerTr$.append($('<th/>').html(key));
	            }
	        }
	    }
	    $('#mythead').append(headerTr$);
	    return columnSet;
	} 

	$('#dataTables-example').DataTable({
                responsive: true
        });
	});

	/*
		 {"name" : "abc", "age" : 50, "hobby" : "swimming"},
		 {"name" : "yrt","age" : "25", "hobby" : "swimming"},
		 {"name" : "xyz", "age" : "25","hobby" : "nothing"}
 * */
</script>





